# ---- Appwrite core ----
APPWRITE_VERSION=1.8.1
_APP_ENV=production
_APP_OPENSSL_KEY_V1=change_this_to_a_long_random_secret


# ---- Domains ----
_APP_DOMAIN=appwrite.example.com
_APP_DOMAIN_TARGET=appwrite.example.com
_APP_DOMAIN_FUNCTIONS=functions.appwrite.example.com


# ---- Database (MariaDB) ----
_APP_DB_HOST=mariadb
_APP_DB_PORT=3306
_APP_DB_SCHEMA=appwrite
_APP_DB_USER=appwrite
_APP_DB_PASS=change_db_password
_APP_DB_ROOT_PASS=change_root_password


# ---- Redis ----
_APP_REDIS_HOST=redis
_APP_REDIS_PORT=6379
_APP_REDIS_PASS=


# ---- Functions / Executor ----n_APP_FUNCTIONS_RUNTIMES=node-18.0,php-8.2,python-3.11
_APP_EXECUTOR_SECRET=change_executor_secret


# ---- Optional / Recommended ----
_APP_USAGE_STATS=enabled
_APP_LOGGING_CONFIG=
